<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Wohnungen</title>

    <!-- include bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">


</head>
<body>

    <div id="info-block">
        {% if msg is defined %}
            {% if msg|length %}
                <div class="alert alert-success" role="alert">{{ msg }}</div>
            {% endif %}
        {% endif %}

    </div>

    <h4>Wohnung Bearbeiten</h4>

    {% if form is defined %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ form_start(form) }}
                {{ form_errors(form) }}

                {{ form_row(form.address) }}
                {{ form_row(form.price) }}
                {{ form_row(form.area) }}
                {{ form_row(form.rooms) }}
            </div>
            <div class="panel-body">

                {{ form_widget(form.save, {'attr': {'class': 'btn btn-default'}}) }}
                {{ form_widget(form.delete, {'attr': {'class': 'btn btn-danger'}}) }}

            </div>

            {{ form_end(form) }}
        </div>
    {% endif %}


    <!-- include jquery -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
